logs/
target/
build/
dist/
bin/
.settings/
solr/ConsensusSNPIndex/
solr/SearchSNPIndex/
solr/AlleleSNPIndex/
config.properties
snpindexer.log
lib/snpdatamodel.jar
lib/*.checksum
Configuration
.classpath
.project
